{% extends 'base.html.twig' %}

{# affichage des category #}
{% block title %}Page du form catégorie{% endblock %}

{% block body %}

<h1>Formulaire ajout catégories</h1>
{{form(form)}}

{% endblock %}
