{% extends 'base.html.twig' %}

{# affichage de la page articles #}
{% block title %}Page du form article{% endblock %}

{% block body %}

<h1>Formulaire ajout d'article</h1>
{{form(form)}}

{% endblock %}


