{% extends 'base.html.twig' %}

{% block title %}Création article{% endblock %}

{% block body %}
<section class="creation_article">
    <h3>Bienvenue sur la page de création d'articles</h3>
    <h4>Nouvel article ajouté: </h4>
</section>

    
    
{% endblock %}